{% extends 'controlpanel/panelhome.html' %}

{% block panel %}
    <div class="box" style="border-radius: 7px; background-color: aliceblue">
        <aside class="menu">
          <ul class="menu-list">
              <li><a href="{% url 'dashboardpanel' %}">Dashboard</a></li>
          </ul>
          <p class="menu-label">
            Administration
          </p>
          <ul class="menu-list">
            <li>
              <a href="{% url 'manageorganizers' initiative.pk %}">Organizers</a>
              <ul>
                <li><a href="{% url 'vieworganizers' initiative.pk %}">View Organizers</a></li>
                <li><a class="is-active" href="{% url 'addorganizers' initiative.pk %}">Add an Organizer</a></li>
              </ul>
            </li>
            <li>
              <a href="{% url 'expensepanel' initiative.pk %}">Manage Your Expenses</a>
              <ul>
                <li><a href="{% url 'expenserecords' initiative.pk %}">Expense Records</a></li>
                <li><a href="{% url 'create_expense' initiative.pk %}">Create an Expense</a></li>
              </ul>
            </li>
            <li><a href="{% url 'docspanel' initiative.pk %}">Documents</a></li>
            <li><a href="{% url 'statuspanel' initiative.pk %}">Status Updates</a></li>
            <li><a href="{% url 'meetingreqspanel' initiative.pk %}">Meeting Requests</a></li>
          </ul>
        </aside>
    </div>
{% endblock %}

{% block body %}
    <div>
        <div>
            <div class="box" style="background-color: aliceblue">
                <h1 class="title">{{ initiative.title }}</h1>
            </div>
            <div class="box">
                <h1 class="title">Add an Organizer</h1>
                <form method="post">
                    {% csrf_token %}
                    {% if users %}
                    <select name="user_select">
                        {% for user in users %}
                            <option value="{{ user.pk }}">{{ user }}</option>
                        {% endfor %}
                    </select>
                    <input type="submit" value="Add">
                    {% else %}
                    <p>No user to add as organizer</p>
                    {% endif %}
                </form>
            </div>
        </div>
    </div>
{% endblock %}
