{% extends 'controlpanel/panelhome.html' %}

{% block panel %}
    <div class="box" style="border-radius: 7px; background-color: aliceblue">
        <aside class="menu">
          <ul class="menu-list">
            <li><a href="{% url 'dashboardpanel' %}">Dashboard</a></li>
          </ul>
        </aside>
    </div>
{% endblock %}

{% block body %}
    <div>
        <div class="box">
            <h1 class="title">Dashboard</h1>
        </div>
        <div class="box">
            <h1 class="title">Initiatives you Organize</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                        <th>Control Panel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for init in organizer_inits %}
                    <tr>
                        <td>{{ init.title }}</td>
                        <td><a class="button" href="{% url 'viewinit' init.pk %}">View</a></td>
                        <td><a class="button" href="{% url 'manageorganizers' init.pk %}">Control Panel</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
        <div class="box">
            <h1 class="title">Initiatives you Support</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>View</th>
                        <th>Control Panel</th>
                    </tr>
                </thead>
                <tbody>
                    {% for init in support_inits %}
                    <tr>
                        <td>{{ init.title }}</td>
                        <td><a class="button" href="{% url 'viewinit' init.pk %}">View</a></td>
                        <td><a class="button" href="{% url 'manageorganizers' init.pk %}">Control Panel</a></td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>
{% endblock %}
