{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <div class="columns">
                <div class="column is-one-quarter" style="padding: 20px; margin-top: 20px">
                    {% block panel %}
                    {% endblock %}
                </div>
                <div class="column" style="padding: 20px; margin-top: 20px">
                    {% block body %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}
