{% extends 'controlpanel/panelhome.html' %}

{% block panel %}
    <div class="box" style="border-radius: 7px; background-color: aliceblue">
        <aside class="menu">
          <ul class="menu-list">
            <li><a>Dashboard</a></li>
          </ul>
          <p class="menu-label">
            Administration
          </p>
          <ul class="menu-list">
            <li>
              <a href="{% url 'manageorganizers' initiative.pk %}">Organizers</a>
              <ul>
                <li><a>View Organizers</a></li>
                <li><a>Add an Organizer</a></li>
              </ul>
            </li>
            <li>
              <a>Manage Your Expenses</a>
              <ul>
                <li><a >Expense Records</a></li>
                <li><a href="{% url 'create_expense' initiative.pk %}">Create an Expense</a></li>
              </ul>
            </li>
            <li><a href="{% url 'docspanel' initiative.pk %}">Documents</a></li>
            <li><a class="is-active" href="{% url 'statuspanel' initiative.pk %}">Status Updates</a></li>
            <li><a href="{% url 'meetingreqspanel' initiative.pk %}">Meeting Requests</a></li>
          </ul>
        </aside>
    </div>
{% endblock %}

{% block body %}
    <div>
        <div class="box" style="background-color: aliceblue">
            <h1 class="title">{{ initiative.title }}</h1>
        </div>
        <div class="box">
            <h1 class="title">Create Status Update</h1>
            <form method="post">
                {% csrf_token %}
                {{ form.as_p }}
                <input type="submit" value="Submit">
            </form>
        </div>
        <div class="box">
            <h1 class="title">Manage Status Updates</h1>
            <table class="table is-fullwidth">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Poster</th>
                        <th>Title</th>
                        <th>Delete</th>
                    </tr>
                </thead>
                {% for status in initiative.getStatusUpdates %}
                <tbody>
                    <tr>
                        <td>{{ status.date_created }}</td>
                        <td>{{ status.poster }}</td>
                        <td>{{ status.text_content }}</td>
                        {% if user.is_authenticated %}
                        <td><a class="button" href="{% url 'delete_status' initiative.pk status.pk %}" style="color:red">Delete</a></td>
                        {% endif %}
                    </tr>
                </tbody>
                {% endfor %}
            </table>
        </div>
    </div>
{% endblock %}
