<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Landing</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
<div>
    <div>
        <nav class="navbar is-primary" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">
    <a class="navbar-item" href="https://bulma.io">
      <img src="https://bulma.io/images/bulma-logo.png" alt="Bulma: Free, open source, and modern CSS framework based on Flexbox" width="112" height="28">
    </a>

    <a role="button" class="navbar-burger" aria-label="menu" aria-expanded="false">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>
</nav>
    </div>
    <div>
        <div class="columns" style="margin-right: 30px">
            <div class="column is-half">
                <section class="hero is-medium">
                  <div class="hero-body">
                    <div class="container">
                        <h1 style="font-size: 80pt">You can be a Leader.</h1>
                        <button class="button is-large is-danger" style="margin-top: 50px; width: 50%">Join</button>
                    </div>
                  </div>
                </section>
            </div>
            <div class="column is-one-quarter" style="padding: 15px; padding-top: 60px">
                <div style="background-color: #FFFF54; border-radius: 7px; height: 350px; margin-bottom: 30px">
                    <div>
                        <img src="https://images.unsplash.com/photo-1438761681033-6461ffad8d80?ixid=MnwxMjA3fDB8MHxzZWFyY2h8MXx8cmFuZG9tJTIwcGVvcGxlfGVufDB8fDB8fA%3D%3D&ixlib=rb-1.2.1&w=1000&q=80" style="border-radius: 7px 7px 0px 0px">
                    </div>
                    <div style="padding: 15px; text-align: center">
                        <h1 class="title">At the White House</h1>
                        <a href="#">See the Status Update ></a>
                    </div>
                </div>
                <div style="background-color: #BF436C; border-radius: 7px; height: 150px; margin-bottom: 30px">
                    <div style="text-align: center">
                        <h1 style="font-size: 50pt; color: white">21st</h1>
                        <h1 style="color: white">Save the Trees Protest</h1>
                    </div>
                </div>
                <div style="background-color: #FFFF54; border-radius: 7px; height: 50px">
                    <div>
                        <h1 class="title" style="text-align: center; padding-top: 5px">Climate Change</h1>
                    </div>
                </div>
            </div>
            <div class="column is-one-quarter" style="padding: 15px; padding-top: 60px">
                <div style="background-color: #52AD93; border-radius: 7px; height: 50px; margin-bottom: 30px">
                    <div>
                        <h1 class="title" style="text-align: center; padding-top: 5px">Education</h1>
                    </div>
                </div>
                <div style="background-color: #5CC4DB; border-radius: 7px; height: 525px; margin-bottom: 30px; box-shadow: 10px 10px">
                    <div>
                        <img src="https://images.ctfassets.net/hrltx12pl8hq/31f9j3A3xKasyUMMsuIQO8/6a8708add4cb4505b65b1cee3f2e6996/9db2e04eb42b427f4968ab41009443b906e4eabf-people_men-min.jpg?fit=fill&w=368&h=207" style="border-radius: 7px 7px 0px 0px">
                    </div>
                    <div style="text-align: center; padding: 10px">
                        <h1 class="title">Fundraising Goal</h1>
                        <h1>We've come so far in this initiative, and we can't stop now. Let's cover 20 more districts and fulfill the promise of a brighter future.</h1>
                        <div style="margin: 10px; padding: 10px">
                            <button class="button is-fullwidth is-light" style="margin-bottom: 10px">Sign</button>
                            <button class="button is-fullwidth is-danger">Donate</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>