<div>
    <div class="modal" id="modal">
        <div class="modal-background"></div>
        <div class="modal-card">
            <header class="modal-card-head">
              <p class="modal-card-title">Commit #c819bc3bab0168ca7</p>
              <button class="delete" aria-label="close" onclick="document.getElementById('modal').classList.remove('is-active')"></button>
            </header>
            <section class="modal-card-body">
                <div class="columns">
                    <div class="column is-one-fifth">
                        <div style="background-color:#c93c37; color:white">
                            <p style="padding-left:5px;">45</p>
                        </div>
                        <div style="background-color:#347d39; color:white">
                            <p style="padding-left:5px;">45</p>
                        </div>
                    </div>
                    <div class="column">
                        <div style="background-color:#ed9c9a; color:white">
                            <p>-- up to 5 percent of the total amount</p>
                        </div>
                        <div style="background-color:#6bb070; color:white">
                            <p>++ up to 15 percent of the total amount</p>
                        </div>
                    </div>
                </div>
            </section>
        </div>
    </div>
    <div style="padding-left: 30px; padding-right: 30px">
        <div class="columns">
            <div class="column is-one-quarter">
                <div class="box">
                    <aside class="menu">
                        <p class="menu-label">Files</p>
                          <ul class="menu-list" style="text-align: center">
                            {% for doc in docs %}
                            {# <li><a class="is-active">{{ doc.title }}</a></li> #}
                            {% endfor %}
                            <li><a class="is-active">chapter_1.pdf</a></li>
                            <li><a>chapter_2.pdf</a></li>
                            <li><a>chapter_3.pdf</a></li>
                          </ul>
                        </aside>
                </div>
            </div>
            <div class="column">
                <div class="box">
                    <div class="columns">
                        <div class="column is-one-quarter" style="border-right: lightgrey 1px solid; text-align: center">
                           <ul>
                               <li>
                                   <a href="#">Commit #feq325ohi23235afeg</a>
                                   10/22/21 08:00:10
                               </li>
                               <div>
                                   |
                               </div>
                               <li>
                                   <a href="#">Commit #hh45y7547426742</a>
                                   10/22/21 09:34:10
                               </li>
                               <div>
                                   |
                               </div>
                               <li>
                                   <a href="#">Commit #364rehahr346426</a>
                                   10/23/21 02:25:06
                               </li>
                               <div>
                                   |
                               </div>
                               <li>
                                   <a href="#">Commit #gew634645uyhrss2</a>
                                   10/23/21 08:00:10
                               </li>
                               <div>
                                   |
                               </div>
                               <li>
                                   <a href="#">Commit #grq34y5u6wht3232</a>
                                   10/24/21 03:08:09
                               </li>
                               <div>
                                   |
                               </div>
                               <li>
                                   <a onclick="document.getElementById('modal').classList.add('is-active')">Commit #c819bc3bab0168ca7</a>
                                   10/24/21 05:38:17
                               </li>
                           </ul>
                        </div>
                        <div class="column">
                            <div style="border-bottom: lightgrey 1px solid; padding: 15px; padding-bottom: 30px">
                                <h1 class="title">Assembly Bill No.93: Law Enforcement      <a style="font-size:15pt" href="{% url 'edit_document' initiative.pk docs.0.pk %}">Edit</a></h1>
                                <h1 class="subtitle">Posted by Anastasia Spangler on 10/22/21</h1>
                            </div>
                            <div style="padding: 15px">
                                <h1 class="subtitle">Annotations</h1>
                                <div class="content">
                                    <div class="block">
                                        <blockquote>(2) A peace officer shall use reasonable care when determining
                                    whether to use physical force and when using any physical force
                                    against another person. To that end, a peace officer shall:</blockquote>
                                    <p>This has a lot of implications for our communities of color.</p>
                                    </div>
                                    <div class="block">
                                        <blockquote>(c) The Department of Finance may authorize revisions to the codes or structures used in this act or used in other spending authority outside of this act to provide compatibility between the codes or structures used in this act and those used in the Governor's Budget and in the records of the Controller.</blockquote>
                                    <p>All spending authority rests on revisions made by the Department of Finance</p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
