{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="columns" style="padding: 50px">
            <div class="column">
                <h1 class="title">Edit Document</h1>
                <form method="post">
                    {% csrf_token %}
                    <textarea name="textarea" class="textarea" rows="21" placeholder="Begin your document...">{{ text }}</textarea>
                    <input class="button is-link" type="submit" value="Update Draft" style="margin-top:12px">
                </form>
            </div>
            <div class="column">
                <div class="markdown" style="overflow-y:auto">
                    {% load static %}
                    <script type="text/javascript" charset="utf-8">var readme_location = "{% static 'git/README.md' %}"</script>
                    <script src="{% static 'stmd.js' %}"></script>
                    <script src="{% static 'render.js' %}"></script>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
