{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <h1>{{ initiative.title }}</h1>
            <p>Created by: {{ initiative.primary_organizer.username }}</p>
            <p>{{ initiative.problem_statement }}</p>
            <p>{{ initiative.people_impact }}</p>
            <p>{{ initiative.legislative_scope }}</p>
            {% for tag in initiative.tags %}
                <p>{{ tag }}</p>
            {% endfor %}
            <p>Donation Total Amount: {{ initiative.totalDonations }}</p>
            {% if user.is_authenticated %}
            <form method="post">
                {% csrf_token %}
                {{ donate_form.as_p }}
                <input type="submit" value="Submit Donation">
            </form>
            {% endif %}
        </div>
    </div>
{% endblock %}
