{% extends 'base.html' %}

{% block content %}
    <div>
        <div>
            <div class="columns"/>
                <div class="column content">
                    <h1>{{ initiative.title }}</h1>
                    {# <img src="data:image\png;base64,{{ initiative.qrcode }}"> #}
                    <p>Created by: {{ initiative.primary_organizer.username }}</p>
                    <p>{{ initiative.problem_statement }}</p>
                    <p>{{ initiative.people_impact }}</p>
                    <p>{{ initiative.legislative_scope }}</p>
                    <div class="tags">Tags:
                    {% for tag in initiative.tags %}
                        <span class="tag">{{ tag }}</span>
                    {% endfor %}
                    </div>
                </div>
                <div class="column">
                    <p>Donation Total Amount: {{ initiative.totalDonations }}</p>
                    {% if user.is_authenticated %}
                    <form method="post">
                        {% csrf_token %}
                        {{ donate_form.as_p }}
                        <input type="submit" value="Submit Donation">
                    </form>
                    {% endif %}
                </div>
            </div>
        </div>
        <div class="tabs">
            <ul>
                <li class="tablinks is-active"><a onclick="openTab(event,'people')">People</a></li>
                <li class="tablinks"><a onclick="openTab(event,'status_feed')">Status Feed</a></li>
                <li class="tablinks"><a onclick="openTab(event,'expenses')">Expenses</a></li>
                <li class="tablinks"><a onclick="openTab(event,'meeting_requests')">Meeting Requests</a></li>
                <li class="tablinks"><a onclick="openTab(event,'documents')">Documents</a></li>
            </ul>
        </div>
        <div id="people" class="tab_content">
            {% include 'initiative/people.html' %}
        </div>
        <div id="status_feed" class="tab_content" style="display:none">
            {% include 'initiative/status_feed.html' %}
        </div>
        <div id="expenses" class="tab_content" style="display:none">
            {% include 'initiative/expenses.html' %}
        </div>
        <div id="meeting_requests" class="tab_content" style="display:none">
            {% include 'initiative/meeting_requests.html' %}
        </div>
        <div id="documents" class="tab_content" style="display:none">
            {% include 'initiative/documents.html' %}
        </div>
    </div>
{% endblock %}
