{% extends 'base.html' %}

{% block content %}
    <div>
        <div class="hero is-small is-link">
            <div class="hero-body">
                <div class="columns"/>
                    <div class="column is-two-thirds">
                        <div class="block" style="margin-bottom: 40px">
                            <h1 class="title">{{ initiative.title }}</h1>
                            <h1 class="subtitle">Started by <b>{{ initiative.primary_organizer.username }}</b></h1>
                            {# <img src="data:image\png;base64,{{ initiative.qrcode }}"> #}
                        </div>
                        <div>
                            <p class="subtitle" style="margin-bottom:5px;">Problem Statement</p>
                            <p style="padding-bottom:30px;">{{ initiative.problem_statement }}</p>
                            <p class="subtitle" style="margin-bottom:5px;">People Impacted</p>
                            <p style="padding-bottom:30px;">{{ initiative.people_impact }}</p>
                            <p class="subtitle" style="margin-bottom:5px;">Legislative Scope</p>
                            <p style="padding-bottom:30px;">{{ initiative.legislative_scope }}</p>
                            <div class="tags" style="padding: 10px 0 10px 2px">
                            {% for tag in initiative.tags %}
                                <span class="tag">{{ tag }}</span>
                            {% endfor %}
                            </div>
                        </div>

                    </div>
                    <div class="column">
                        <div class="block">
                            <form class="box" style="text-align: center;height:220px" method="post">
                              <div class="field">
                                <label class="label" style="margin-bottom:30px">Donation Amount</label>
                                <div class="control">
                                    {% csrf_token %}
                                    {{ donate_form.as_p }}
                                    <input class="button is-danger" type="submit" value="Submit Donation" style="margin-top:30px">
                                </div>
                              </div>
                            </form>
                        </div>
                        <div class="block">
                            {% if user.is_authenticated and user not in initiative.supporters.all %}
                            <a class="button is-medium is-fullwidth is-danger" href="{% url 'sign' initiative.pk %}">Sign</a>
                            {% else %}
                            <a class="button is-medium is-fullwidth is-danger" disabled>Sign</a>
                            {% endif %}
                        </div>
                    </div>
                </div>
            </div>
            <div class="hero is-small is-link">
                <nav class="level" style="padding: 30px">
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Supporters</p>
                          <p class="title">3,456</p>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Donors</p>
                          <p class="title">123</p>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Donations</p>
                          <p class="title">${{ initiative.totalDonations }}</p>
                        </div>
                      </div>
                      <div class="level-item has-text-centered">
                        <div>
                          <p class="heading">Sponsors</p>
                          <p class="title">15</p>
                        </div>
                      </div>
                    </nav>
            </div>
        </div>
        <div style="padding:25px">
            <div class="tabs is-toggle is-fullwidth">
                <ul>
                    <li class="tablinks is-active"><a onclick="openTab(event,'people')">
                        <span>Organizers</span>
                    </a></li>
                    <li class="tablinks"><a onclick="openTab(event,'expenses')">
                        <span>Expenses</span>
                    </a></li>
                    <li class="tablinks"><a onclick="openTab(event,'status_feed')">
                        <span>Status Updates</span>
                    </a></li>
                    <li class="tablinks"><a onclick="openTab(event,'meeting_requests')">
                        <span>Meeting Requests</span>
                    </a></li>
                    <li class="tablinks"><a onclick="openTab(event,'documents')">
                        <span>Documents</span>
                    </a></li>
                </ul>
            </div>
            <div id="people" class="tab_content">
                {% include 'initiative/people.html' %}
            </div>
            <div id="status_feed" class="tab_content" style="display:none">
                {% include 'initiative/status_feed.html' %}
            </div>
            <div id="expenses" class="tab_content" style="display:none">
                {% include 'initiative/expenses.html' %}
            </div>
            <div id="meeting_requests" class="tab_content" style="display:none">
                {% include 'initiative/meeting_requests.html' %}
            </div>
            <div id="documents" class="tab_content" style="display:none">
                {% include 'initiative/documents.html' %}
            </div>
        </div>
    </div>

{% endblock %}
