<div style="background-color: aliceblue; height: 500px">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New&display=swap" rel="stylesheet">
    <div style="text-align: center; border-bottom: black 3px solid; padding: 10px">
        <h1 style="font-family: 'Zen Kaku Gothic New', sans-serif;">Civit</h1>
        <h2 style="font-family: 'Zen Kaku Gothic New', sans-serif;">New Meeting Request</h2>
    </div>
    <div style="text-align: center;">
        <p style="font-family: 'Zen Kaku Gothic New', sans-serif;">Civit is a new app to guide everyday people through the legislative process.</p>
        <p style="font-family: 'Zen Kaku Gothic New', sans-serif;">Organizers from the <b>Climate Change Pledge</b> initiative would like to meet with you.</p>
    </div>
    <div style="padding: 20px">
        <div style="background-color: limegreen; border-radius: 7px; text-align: center">
            <h1 style="font-family: 'Zen Kaku Gothic New', sans-serif;">Accept</h1>
        </div>
        <div style="background-color: red; border-radius: 7px; text-align: center">
            <h1 style="font-family: 'Zen Kaku Gothic New', sans-serif;">Deny</h1>
        </div>
    </div>
</div>